In [45]:
from pyspark.sql.functions import * 
from pyspark.sql.window import Window
from pyspark.sql import SparkSession

In [46]:
spark = SparkSession.builder \
        .appName("SCD Implementation application") \
        .config("spark.sql.shuffle.partitions",3) \
        .master("local[2]") \
        .getOrCreate()

In [47]:
DATE_FORMAT = "yyyy-MM-dd"
future_date = "9999-12-31"
source_url = "../data/source/"
destination_url = "../data/target/"
primary_key = ["customerid"]
slowly_changing_cols = [ "email", "phone", "address", "city", "state", "zipcode"]
implementation_cols = ["effective_date", "end_date", "active_flag"]

In [48]:
customers_source_schema = "customerid long,firstname string, lastname string, email string, phone string, address string, city string, state string, zipcode long"

In [49]:
customers_target_schema = "customerid long,firstname string, lastname string, email string, phone string, address string, city string, state string, zipcode long, customer_skey long, effective_date date, end_date date, active_flag boolean"

In [50]:
customers_source_df = spark.read \
.format("csv") \
.option("header",True) \
.schema(customers_source_schema) \
.load(source_url)

In [51]:
customers_source_df.show()

+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|customerid|  firstname| lastname|    email|    phone|             address|         city|state|zipcode|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|         1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|
|         2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|
|         3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|    725|
|         4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|
|         5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|
|         6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|
|         7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|
|        10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|
|        11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|
|        12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|
|        13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|
|        14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|
|        15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|
|        16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|
|        17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|
|        18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|
|        19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|
|        20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|
|        21|    William|Zimmerman|XXXXXXXXX|XXXXXXXXX|3323 Old Willow M...|       Caguas|   PR|    725|
|        22|     Joseph|    Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
only showing top 20 rows

In [52]:
window_def = Window.orderBy("customerid")

In [54]:
enhanced_customers_source_df = spark.read \
.format("csv") \
.option("header",True) \
.schema(customers_source_schema) \
.load(source_url) \
.withColumn("customer_skey", row_number().over(window_def)) \
.withColumn("effective_date", date_format(current_date(), DATE_FORMAT)) \
.withColumn("end_date", date_format(lit(future_date), DATE_FORMAT)) \
.withColumn("active_flag", lit(True))

In [55]:
enhanced_customers_source_df.show()

+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|customerid|  firstname| lastname|    email|    phone|             address|         city|state|zipcode|customer_skey|effective_date|  end_date|active_flag|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|         1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|            1|    2024-07-28|9999-12-31|       true|
|         2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|            2|    2024-07-28|9999-12-31|       true|
|         3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|    725|            3|    2024-07-28|9999-12-31|       true|
|         4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|            4|    2024-07-28|9999-12-31|       true|
|         5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|            5|    2024-07-28|9999-12-31|       true|
|         6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|            6|    2024-07-28|9999-12-31|       true|
|         7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|            7|    2024-07-28|9999-12-31|       true|
|        10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|            8|    2024-07-28|9999-12-31|       true|
|        11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|            9|    2024-07-28|9999-12-31|       true|
|        12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|           10|    2024-07-28|9999-12-31|       true|
|        13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|           11|    2024-07-28|9999-12-31|       true|
|        14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|           12|    2024-07-28|9999-12-31|       true|
|        15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|           13|    2024-07-28|9999-12-31|       true|
|        16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|           14|    2024-07-28|9999-12-31|       true|
|        17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|           15|    2024-07-28|9999-12-31|       true|
|        18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|           16|    2024-07-28|9999-12-31|       true|
|        19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|           17|    2024-07-28|9999-12-31|       true|
|        20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|           18|    2024-07-28|9999-12-31|       true|
|        21|    William|Zimmerman|XXXXXXXXX|XXXXXXXXX|3323 Old Willow M...|       Caguas|   PR|    725|           19|    2024-07-28|9999-12-31|       true|
|        22|     Joseph|    Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|           20|    2024-07-28|9999-12-31|       true|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
only showing top 20 rows

In [19]:
enhanced_customers_source_df.write.mode('overwrite') \
.option("header",True) \
.option("delimiter",",") \
.csv(destination_url)

In [56]:
customers_target_df = spark.read \
.format("csv") \
.option("header",True) \
.schema(customers_target_schema) \
.load(destination_url)

In [57]:
customers_target_df.show()

+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|customerid|  firstname| lastname|    email|    phone|             address|         city|state|zipcode|customer_skey|effective_date|  end_date|active_flag|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|         1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|            1|    2024-07-28|9999-12-31|       true|
|         2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|            2|    2024-07-28|9999-12-31|       true|
|         3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|    725|            3|    2024-07-28|9999-12-31|       true|
|         4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|            4|    2024-07-28|9999-12-31|       true|
|         5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|            5|    2024-07-28|9999-12-31|       true|
|         6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|            6|    2024-07-28|9999-12-31|       true|
|         7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|            7|    2024-07-28|9999-12-31|       true|
|        10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|            8|    2024-07-28|9999-12-31|       true|
|        11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|            9|    2024-07-28|9999-12-31|       true|
|        12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|           10|    2024-07-28|9999-12-31|       true|
|        13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|           11|    2024-07-28|9999-12-31|       true|
|        14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|           12|    2024-07-28|9999-12-31|       true|
|        15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|           13|    2024-07-28|9999-12-31|       true|
|        16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|           14|    2024-07-28|9999-12-31|       true|
|        17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|           15|    2024-07-28|9999-12-31|       true|
|        18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|           16|    2024-07-28|9999-12-31|       true|
|        19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|           17|    2024-07-28|9999-12-31|       true|
|        20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|           18|    2024-07-28|9999-12-31|       true|
|        21|    William|Zimmerman|XXXXXXXXX|XXXXXXXXX|3323 Old Willow Mall|       Caguas|   PR|    725|           19|    2024-07-28|9999-12-31|       true|
|        22|     Joseph|    Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|           20|    2024-07-28|9999-12-31|       true|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
only showing top 20 rows

In [58]:
customers_source_df.show()

+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|customerid|  firstname| lastname|    email|    phone|             address|         city|state|zipcode|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|         1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|
|         2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|
|         3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|    725|
|         4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|
|         5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|
|         6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|
|         7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|
|        10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|
|        11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|
|        12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|
|        13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|
|        14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|
|        15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|
|        16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|
|        17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|
|        18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|
|        19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|
|        20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|
|        21|    William|Zimmerman|XXXXXXXXX|XXXXXXXXX|3323 Old Willow M...|       Caguas|   PR|    725|
|        22|     Joseph|    Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
only showing top 20 rows

In [60]:
max_sk = customers_target_df.agg({"customer_skey": "max"}).collect()[0][0]

In [61]:
print(max_sk)

12433

In [63]:
# Reading the customers source dataframe again to read the new customers data
customers_source_df = spark.read \
.format("csv") \
.option("header",True) \
.schema(customers_source_schema) \
.load(source_url)

customers_source_df.show()

+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|customerid|  firstname| lastname|    email|    phone|             address|         city|state|zipcode|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|         1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX| 7108 Belmont Avenue|       Newark|   NJ|   7103|
|         2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|5592 Crystal Rive...|        Tampa|   FL|  34423|
|         3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|1184 Boat Lake Drive|     Richmond|   VA|  23220|
|         4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|
|         5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|
|         6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|
|         7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|
|        10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|
|        11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|
|        12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|
|        13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|
|        14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|
|        15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|
|        16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|
|        17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|
|        18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|
|        19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|
|        20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|
|        21|    William|Zimmerman|XXXXXXXXX|XXXXXXXXX|3323 Old Willow M...|       Caguas|   PR|    725|
|        22|     Joseph|    Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
only showing top 20 rows

In [64]:
active_customers_target_df = customers_target_df.where(col("active_flag")==True)

In [65]:
inactive_customers_target_df = customers_target_df.where(col("active_flag")==False)

In [66]:
active_customers_target_df.show()

+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|customerid|  firstname| lastname|    email|    phone|             address|         city|state|zipcode|customer_skey|effective_date|  end_date|active_flag|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|         1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|            1|    2024-07-28|9999-12-31|       true|
|         2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|            2|    2024-07-28|9999-12-31|       true|
|         3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|    725|            3|    2024-07-28|9999-12-31|       true|
|         4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|            4|    2024-07-28|9999-12-31|       true|
|         5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|            5|    2024-07-28|9999-12-31|       true|
|         6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|            6|    2024-07-28|9999-12-31|       true|
|         7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|            7|    2024-07-28|9999-12-31|       true|
|        10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|            8|    2024-07-28|9999-12-31|       true|
|        11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|            9|    2024-07-28|9999-12-31|       true|
|        12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|           10|    2024-07-28|9999-12-31|       true|
|        13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|           11|    2024-07-28|9999-12-31|       true|
|        14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|           12|    2024-07-28|9999-12-31|       true|
|        15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|           13|    2024-07-28|9999-12-31|       true|
|        16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|           14|    2024-07-28|9999-12-31|       true|
|        17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|           15|    2024-07-28|9999-12-31|       true|
|        18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|           16|    2024-07-28|9999-12-31|       true|
|        19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|           17|    2024-07-28|9999-12-31|       true|
|        20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|           18|    2024-07-28|9999-12-31|       true|
|        21|    William|Zimmerman|XXXXXXXXX|XXXXXXXXX|3323 Old Willow Mall|       Caguas|   PR|    725|           19|    2024-07-28|9999-12-31|       true|
|        22|     Joseph|    Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|           20|    2024-07-28|9999-12-31|       true|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
only showing top 20 rows

In [68]:
active_customers_target_df.join(customers_source_df, "customerid", "full_outer").show()

+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|customerid|  firstname| lastname|    email|    phone|             address|         city|state|zipcode|customer_skey|effective_date|  end_date|active_flag|  firstname| lastname|    email|    phone|             address|         city|state|zipcode|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|         1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|            1|    2024-07-28|9999-12-31|       true|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX| 7108 Belmont Avenue|       Newark|   NJ|   7103|
|         2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|            2|    2024-07-28|9999-12-31|       true|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|5592 Crystal Rive...|        Tampa|   FL|  34423|
|         3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|    725|            3|    2024-07-28|9999-12-31|       true|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|1184 Boat Lake Drive|     Richmond|   VA|  23220|
|         4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|            4|    2024-07-28|9999-12-31|       true|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|
|         5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|            5|    2024-07-28|9999-12-31|       true|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|
|         6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|            6|    2024-07-28|9999-12-31|       true|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|
|         7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|            7|    2024-07-28|9999-12-31|       true|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|
|        10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|            8|    2024-07-28|9999-12-31|       true|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|
|        11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|            9|    2024-07-28|9999-12-31|       true|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|
|        12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|           10|    2024-07-28|9999-12-31|       true|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|
|        13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|           11|    2024-07-28|9999-12-31|       true|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|
|        14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|           12|    2024-07-28|9999-12-31|       true|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|
|        15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|           13|    2024-07-28|9999-12-31|       true|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|
|        16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|           14|    2024-07-28|9999-12-31|       true|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|
|        17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|           15|    2024-07-28|9999-12-31|       true|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|
|        18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|           16|    2024-07-28|9999-12-31|       true|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|
|        19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|           17|    2024-07-28|9999-12-31|       true|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|
|        20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|           18|    2024-07-28|9999-12-31|       true|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|
|        21|    William|Zimmerman|XXXXXXXXX|XXXXXXXXX|3323 Old Willow Mall|       Caguas|   PR|    725|           19|    2024-07-28|9999-12-31|       true|    William|Zimmerman|XXXXXXXXX|XXXXXXXXX|3323 Old Willow M...|       Caguas|   PR|    725|
|        22|     Joseph|    Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|           20|    2024-07-28|9999-12-31|       true|     Joseph|    Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|
+----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
only showing top 20 rows

In [70]:
def column_renamer(df, suffix, append):
   
    if append:
        new_column_names = list(map(lambda x: x+suffix, df.columns))
        
    else:
        new_column_names = list(map(lambda x: x.replace(suffix,""), df.columns))
        
    return df.toDF(*new_column_names)

def get_hash(df, keys_list):
 
    columns = [col(column) for column in keys_list]
    
    if columns:
        return df.withColumn("hash_md5", md5(concat_ws("", *columns)))
    else:
        return df.withColumn("hash_md5", md5(lit(1)))

In [71]:
active_customers_target_df_hash = column_renamer(get_hash(active_customers_target_df, slowly_changing_cols), suffix="_target", append=True)

customers_source_df_hash = column_renamer(get_hash(customers_source_df, slowly_changing_cols), suffix="_source", append=True)

In [72]:
active_customers_target_df_hash.show()

+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+---------------------+---------------+------------------+--------------------+
|customerid_target|firstname_target|lastname_target|email_target|phone_target|      address_target|  city_target|state_target|zipcode_target|customer_skey_target|effective_date_target|end_date_target|active_flag_target|     hash_md5_target|
+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+---------------------+---------------+------------------+--------------------+
|                1|         Richard|      Hernandez|   XXXXXXXXX|   XXXXXXXXX|  6303 Heather Plaza|  Brownsville|          TX|         78521|                   1|           2024-07-28|     9999-12-31|              true|f2c1345c132ad8174...|
|                2|            Mary|        Barrett|   XXXXXXXXX|   XXXXXXXXX|9526 Noble Embers...|    Littleton|          CO|         80126|                   2|           2024-07-28|     9999-12-31|              true|0a3dd6caa8299ff23...|
|                3|             Ann|          Smith|   XXXXXXXXX|   XXXXXXXXX|3422 Blue Pioneer...|       Caguas|          PR|           725|                   3|           2024-07-28|     9999-12-31|              true|b7ceea21c9e952b6d...|
|                4|            Mary|          Jones|   XXXXXXXXX|   XXXXXXXXX|  8324 Little Common|   San Marcos|          CA|         92069|                   4|           2024-07-28|     9999-12-31|              true|288548d73dc94340e...|
|                5|          Robert|         Hudson|   XXXXXXXXX|   XXXXXXXXX|10 Crystal River ...|       Caguas|          PR|           725|                   5|           2024-07-28|     9999-12-31|              true|fba3fcc6244864f80...|
|                6|            Mary|          Smith|   XXXXXXXXX|   XXXXXXXXX|3151 Sleepy Quail...|      Passaic|          NJ|          7055|                   6|           2024-07-28|     9999-12-31|              true|4de13de14f63afca5...|
|                7|         Melissa|         Wilcox|   XXXXXXXXX|   XXXXXXXXX|9453 High Concession|       Caguas|          PR|           725|                   7|           2024-07-28|     9999-12-31|              true|3e03db4c5453280bc...|
|               10|         Melissa|          Smith|   XXXXXXXXX|   XXXXXXXXX|8598 Harvest Beac...|     Stafford|          VA|         22554|                   8|           2024-07-28|     9999-12-31|              true|4d9276d2febeb1072...|
|               11|            Mary|        Huffman|   XXXXXXXXX|   XXXXXXXXX|    3169 Stony Woods|       Caguas|          PR|           725|                   9|           2024-07-28|     9999-12-31|              true|35cdb9ea7dc689493...|
|               12|     Christopher|          Smith|   XXXXXXXXX|   XXXXXXXXX|5594 Jagged Ember...|  San Antonio|          TX|         78227|                  10|           2024-07-28|     9999-12-31|              true|0cee0ae8686ec91a9...|
|               13|            Mary|        Baldwin|   XXXXXXXXX|   XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|          PR|           725|                  11|           2024-07-28|     9999-12-31|              true|7a6b98947cb57e2ef...|
|               14|       Katherine|          Smith|   XXXXXXXXX|   XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|          CA|         90660|                  12|           2024-07-28|     9999-12-31|              true|de866230b613a7968...|
|               15|            Jane|           Luna|   XXXXXXXXX|   XXXXXXXXX|    673 Burning Glen|      Fontana|          CA|         92336|                  13|           2024-07-28|     9999-12-31|              true|bd696365e80f24fa1...|
|               16|         Tiffany|          Smith|   XXXXXXXXX|   XXXXXXXXX|      6651 Iron Port|       Caguas|          PR|           725|                  14|           2024-07-28|     9999-12-31|              true|8d3ec91718fb2b3b3...|
|               17|            Mary|       Robinson|   XXXXXXXXX|   XXXXXXXXX|     1325 Noble Pike|       Taylor|          MI|         48180|                  15|           2024-07-28|     9999-12-31|              true|f03670e3d87231aea...|
|               18|          Robert|          Smith|   XXXXXXXXX|   XXXXXXXXX|2734 Hazy Butterf...|     Martinez|          CA|         94553|                  16|           2024-07-28|     9999-12-31|              true|5f44c922af13faf48...|
|               19|       Stephanie|       Mitchell|   XXXXXXXXX|   XXXXXXXXX|3543 Red Treasure...|       Caguas|          PR|           725|                  17|           2024-07-28|     9999-12-31|              true|cc2951b6a04d9ed8c...|
|               20|            Mary|          Ellis|   XXXXXXXXX|   XXXXXXXXX|      4703 Old Route|West New York|          NJ|          7093|                  18|           2024-07-28|     9999-12-31|              true|a6763cf3e529009ca...|
|               21|         William|      Zimmerman|   XXXXXXXXX|   XXXXXXXXX|3323 Old Willow Mall|       Caguas|          PR|           725|                  19|           2024-07-28|     9999-12-31|              true|e6764ceadc2b02c07...|
|               22|          Joseph|          Smith|   XXXXXXXXX|   XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|          NJ|          7047|                  20|           2024-07-28|     9999-12-31|              true|f3ceeb10932fa2521...|
+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+---------------------+---------------+------------------+--------------------+
only showing top 20 rows

In [73]:
customers_source_df_hash.show()

+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+
|customerid_source|firstname_source|lastname_source|email_source|phone_source|      address_source|  city_source|state_source|zipcode_source|     hash_md5_source|
+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+
|                1|         Richard|      Hernandez|   XXXXXXXXX|   XXXXXXXXX| 7108 Belmont Avenue|       Newark|          NJ|          7103|5c47f014e92644a46...|
|                2|            Mary|        Barrett|   XXXXXXXXX|   XXXXXXXXX|5592 Crystal Rive...|        Tampa|          FL|         34423|b13597ee5c51c23f4...|
|                3|             Ann|          Smith|   XXXXXXXXX|   XXXXXXXXX|1184 Boat Lake Drive|     Richmond|          VA|         23220|962342583e9751c48...|
|                4|            Mary|          Jones|   XXXXXXXXX|   XXXXXXXXX|  8324 Little Common|   San Marcos|          CA|         92069|288548d73dc94340e...|
|                5|          Robert|         Hudson|   XXXXXXXXX|   XXXXXXXXX|10 Crystal River ...|       Caguas|          PR|           725|241fe7e8d544405fc...|
|                6|            Mary|          Smith|   XXXXXXXXX|   XXXXXXXXX|3151 Sleepy Quail...|      Passaic|          NJ|          7055|4de13de14f63afca5...|
|                7|         Melissa|         Wilcox|   XXXXXXXXX|   XXXXXXXXX|9453 High Concession|       Caguas|          PR|           725|3e03db4c5453280bc...|
|               10|         Melissa|          Smith|   XXXXXXXXX|   XXXXXXXXX|8598 Harvest Beac...|     Stafford|          VA|         22554|4d9276d2febeb1072...|
|               11|            Mary|        Huffman|   XXXXXXXXX|   XXXXXXXXX|    3169 Stony Woods|       Caguas|          PR|           725|35cdb9ea7dc689493...|
|               12|     Christopher|          Smith|   XXXXXXXXX|   XXXXXXXXX|5594 Jagged Ember...|  San Antonio|          TX|         78227|0cee0ae8686ec91a9...|
|               13|            Mary|        Baldwin|   XXXXXXXXX|   XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|          PR|           725|7a6b98947cb57e2ef...|
|               14|       Katherine|          Smith|   XXXXXXXXX|   XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|          CA|         90660|de866230b613a7968...|
|               15|            Jane|           Luna|   XXXXXXXXX|   XXXXXXXXX|    673 Burning Glen|      Fontana|          CA|         92336|bd696365e80f24fa1...|
|               16|         Tiffany|          Smith|   XXXXXXXXX|   XXXXXXXXX|      6651 Iron Port|       Caguas|          PR|           725|8d3ec91718fb2b3b3...|
|               17|            Mary|       Robinson|   XXXXXXXXX|   XXXXXXXXX|     1325 Noble Pike|       Taylor|          MI|         48180|f03670e3d87231aea...|
|               18|          Robert|          Smith|   XXXXXXXXX|   XXXXXXXXX|2734 Hazy Butterf...|     Martinez|          CA|         94553|5f44c922af13faf48...|
|               19|       Stephanie|       Mitchell|   XXXXXXXXX|   XXXXXXXXX|3543 Red Treasure...|       Caguas|          PR|           725|cc2951b6a04d9ed8c...|
|               20|            Mary|          Ellis|   XXXXXXXXX|   XXXXXXXXX|      4703 Old Route|West New York|          NJ|          7093|a6763cf3e529009ca...|
|               21|         William|      Zimmerman|   XXXXXXXXX|   XXXXXXXXX|3323 Old Willow M...|       Caguas|          PR|           725|ac85f3dc66f5159d3...|
|               22|          Joseph|          Smith|   XXXXXXXXX|   XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|          NJ|          7047|f3ceeb10932fa2521...|
+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+
only showing top 20 rows

In [74]:
merged_df = active_customers_target_df_hash.join(customers_source_df_hash, col("customerid_source") ==  col("customerid_target") , "full_outer") \
.withColumn("Action", when(col("hash_md5_source") == col("hash_md5_target")  , 'NOCHANGE')\
.when(col("customerid_source").isNull(), 'DELETE')\
.when(col("customerid_target").isNull(), 'INSERT')\
.otherwise('UPDATE'))

In [75]:
merged_df.show()

+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+---------------------+---------------+------------------+--------------------+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+--------+
|customerid_target|firstname_target|lastname_target|email_target|phone_target|      address_target|  city_target|state_target|zipcode_target|customer_skey_target|effective_date_target|end_date_target|active_flag_target|     hash_md5_target|customerid_source|firstname_source|lastname_source|email_source|phone_source|      address_source|  city_source|state_source|zipcode_source|     hash_md5_source|  Action|
+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+---------------------+---------------+------------------+--------------------+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+--------+
|                1|         Richard|      Hernandez|   XXXXXXXXX|   XXXXXXXXX|  6303 Heather Plaza|  Brownsville|          TX|         78521|                   1|           2024-07-28|     9999-12-31|              true|f2c1345c132ad8174...|                1|         Richard|      Hernandez|   XXXXXXXXX|   XXXXXXXXX| 7108 Belmont Avenue|       Newark|          NJ|          7103|5c47f014e92644a46...|  UPDATE|
|                2|            Mary|        Barrett|   XXXXXXXXX|   XXXXXXXXX|9526 Noble Embers...|    Littleton|          CO|         80126|                   2|           2024-07-28|     9999-12-31|              true|0a3dd6caa8299ff23...|                2|            Mary|        Barrett|   XXXXXXXXX|   XXXXXXXXX|5592 Crystal Rive...|        Tampa|          FL|         34423|b13597ee5c51c23f4...|  UPDATE|
|                3|             Ann|          Smith|   XXXXXXXXX|   XXXXXXXXX|3422 Blue Pioneer...|       Caguas|          PR|           725|                   3|           2024-07-28|     9999-12-31|              true|b7ceea21c9e952b6d...|                3|             Ann|          Smith|   XXXXXXXXX|   XXXXXXXXX|1184 Boat Lake Drive|     Richmond|          VA|         23220|962342583e9751c48...|  UPDATE|
|                4|            Mary|          Jones|   XXXXXXXXX|   XXXXXXXXX|  8324 Little Common|   San Marcos|          CA|         92069|                   4|           2024-07-28|     9999-12-31|              true|288548d73dc94340e...|                4|            Mary|          Jones|   XXXXXXXXX|   XXXXXXXXX|  8324 Little Common|   San Marcos|          CA|         92069|288548d73dc94340e...|NOCHANGE|
|                5|          Robert|         Hudson|   XXXXXXXXX|   XXXXXXXXX|10 Crystal River ...|       Caguas|          PR|           725|                   5|           2024-07-28|     9999-12-31|              true|fba3fcc6244864f80...|                5|          Robert|         Hudson|   XXXXXXXXX|   XXXXXXXXX|10 Crystal River ...|       Caguas|          PR|           725|241fe7e8d544405fc...|  UPDATE|
|                6|            Mary|          Smith|   XXXXXXXXX|   XXXXXXXXX|3151 Sleepy Quail...|      Passaic|          NJ|          7055|                   6|           2024-07-28|     9999-12-31|              true|4de13de14f63afca5...|                6|            Mary|          Smith|   XXXXXXXXX|   XXXXXXXXX|3151 Sleepy Quail...|      Passaic|          NJ|          7055|4de13de14f63afca5...|NOCHANGE|
|                7|         Melissa|         Wilcox|   XXXXXXXXX|   XXXXXXXXX|9453 High Concession|       Caguas|          PR|           725|                   7|           2024-07-28|     9999-12-31|              true|3e03db4c5453280bc...|                7|         Melissa|         Wilcox|   XXXXXXXXX|   XXXXXXXXX|9453 High Concession|       Caguas|          PR|           725|3e03db4c5453280bc...|NOCHANGE|
|               10|         Melissa|          Smith|   XXXXXXXXX|   XXXXXXXXX|8598 Harvest Beac...|     Stafford|          VA|         22554|                   8|           2024-07-28|     9999-12-31|              true|4d9276d2febeb1072...|               10|         Melissa|          Smith|   XXXXXXXXX|   XXXXXXXXX|8598 Harvest Beac...|     Stafford|          VA|         22554|4d9276d2febeb1072...|NOCHANGE|
|               11|            Mary|        Huffman|   XXXXXXXXX|   XXXXXXXXX|    3169 Stony Woods|       Caguas|          PR|           725|                   9|           2024-07-28|     9999-12-31|              true|35cdb9ea7dc689493...|               11|            Mary|        Huffman|   XXXXXXXXX|   XXXXXXXXX|    3169 Stony Woods|       Caguas|          PR|           725|35cdb9ea7dc689493...|NOCHANGE|
|               12|     Christopher|          Smith|   XXXXXXXXX|   XXXXXXXXX|5594 Jagged Ember...|  San Antonio|          TX|         78227|                  10|           2024-07-28|     9999-12-31|              true|0cee0ae8686ec91a9...|               12|     Christopher|          Smith|   XXXXXXXXX|   XXXXXXXXX|5594 Jagged Ember...|  San Antonio|          TX|         78227|0cee0ae8686ec91a9...|NOCHANGE|
|               13|            Mary|        Baldwin|   XXXXXXXXX|   XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|          PR|           725|                  11|           2024-07-28|     9999-12-31|              true|7a6b98947cb57e2ef...|               13|            Mary|        Baldwin|   XXXXXXXXX|   XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|          PR|           725|7a6b98947cb57e2ef...|NOCHANGE|
|               14|       Katherine|          Smith|   XXXXXXXXX|   XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|          CA|         90660|                  12|           2024-07-28|     9999-12-31|              true|de866230b613a7968...|               14|       Katherine|          Smith|   XXXXXXXXX|   XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|          CA|         90660|de866230b613a7968...|NOCHANGE|
|               15|            Jane|           Luna|   XXXXXXXXX|   XXXXXXXXX|    673 Burning Glen|      Fontana|          CA|         92336|                  13|           2024-07-28|     9999-12-31|              true|bd696365e80f24fa1...|               15|            Jane|           Luna|   XXXXXXXXX|   XXXXXXXXX|    673 Burning Glen|      Fontana|          CA|         92336|bd696365e80f24fa1...|NOCHANGE|
|               16|         Tiffany|          Smith|   XXXXXXXXX|   XXXXXXXXX|      6651 Iron Port|       Caguas|          PR|           725|                  14|           2024-07-28|     9999-12-31|              true|8d3ec91718fb2b3b3...|               16|         Tiffany|          Smith|   XXXXXXXXX|   XXXXXXXXX|      6651 Iron Port|       Caguas|          PR|           725|8d3ec91718fb2b3b3...|NOCHANGE|
|               17|            Mary|       Robinson|   XXXXXXXXX|   XXXXXXXXX|     1325 Noble Pike|       Taylor|          MI|         48180|                  15|           2024-07-28|     9999-12-31|              true|f03670e3d87231aea...|               17|            Mary|       Robinson|   XXXXXXXXX|   XXXXXXXXX|     1325 Noble Pike|       Taylor|          MI|         48180|f03670e3d87231aea...|NOCHANGE|
|               18|          Robert|          Smith|   XXXXXXXXX|   XXXXXXXXX|2734 Hazy Butterf...|     Martinez|          CA|         94553|                  16|           2024-07-28|     9999-12-31|              true|5f44c922af13faf48...|               18|          Robert|          Smith|   XXXXXXXXX|   XXXXXXXXX|2734 Hazy Butterf...|     Martinez|          CA|         94553|5f44c922af13faf48...|NOCHANGE|
|               19|       Stephanie|       Mitchell|   XXXXXXXXX|   XXXXXXXXX|3543 Red Treasure...|       Caguas|          PR|           725|                  17|           2024-07-28|     9999-12-31|              true|cc2951b6a04d9ed8c...|               19|       Stephanie|       Mitchell|   XXXXXXXXX|   XXXXXXXXX|3543 Red Treasure...|       Caguas|          PR|           725|cc2951b6a04d9ed8c...|NOCHANGE|
|               20|            Mary|          Ellis|   XXXXXXXXX|   XXXXXXXXX|      4703 Old Route|West New York|          NJ|          7093|                  18|           2024-07-28|     9999-12-31|              true|a6763cf3e529009ca...|               20|            Mary|          Ellis|   XXXXXXXXX|   XXXXXXXXX|      4703 Old Route|West New York|          NJ|          7093|a6763cf3e529009ca...|NOCHANGE|
|               21|         William|      Zimmerman|   XXXXXXXXX|   XXXXXXXXX|3323 Old Willow Mall|       Caguas|          PR|           725|                  19|           2024-07-28|     9999-12-31|              true|e6764ceadc2b02c07...|               21|         William|      Zimmerman|   XXXXXXXXX|   XXXXXXXXX|3323 Old Willow M...|       Caguas|          PR|           725|ac85f3dc66f5159d3...|  UPDATE|
|               22|          Joseph|          Smith|   XXXXXXXXX|   XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|          NJ|          7047|                  20|           2024-07-28|     9999-12-31|              true|f3ceeb10932fa2521...|               22|          Joseph|          Smith|   XXXXXXXXX|   XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|          NJ|          7047|f3ceeb10932fa2521...|NOCHANGE|
+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+---------------------+---------------+------------------+--------------------+-----------------+----------------+---------------+------------+------------+--------------------+-------------+------------+--------------+--------------------+--------+
only showing top 20 rows

In [76]:
unchanged_records = column_renamer(merged_df.filter(col("action") == 'NOCHANGE'), suffix="_target", append=False).select(active_customers_target_df.columns)

In [77]:
unchanged_records.show()

+----------+-----------+----------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|customerid|  firstname|  lastname|    email|    phone|             address|         city|state|zipcode|customer_skey|effective_date|  end_date|active_flag|
+----------+-----------+----------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|         4|       Mary|     Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|            4|    2024-07-28|9999-12-31|       true|
|         6|       Mary|     Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|            6|    2024-07-28|9999-12-31|       true|
|         7|    Melissa|    Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|            7|    2024-07-28|9999-12-31|       true|
|        10|    Melissa|     Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|            8|    2024-07-28|9999-12-31|       true|
|        11|       Mary|   Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|            9|    2024-07-28|9999-12-31|       true|
|        12|Christopher|     Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|           10|    2024-07-28|9999-12-31|       true|
|        13|       Mary|   Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|           11|    2024-07-28|9999-12-31|       true|
|        14|  Katherine|     Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|           12|    2024-07-28|9999-12-31|       true|
|        15|       Jane|      Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|           13|    2024-07-28|9999-12-31|       true|
|        16|    Tiffany|     Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|           14|    2024-07-28|9999-12-31|       true|
|        17|       Mary|  Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|           15|    2024-07-28|9999-12-31|       true|
|        18|     Robert|     Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|           16|    2024-07-28|9999-12-31|       true|
|        19|  Stephanie|  Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|           17|    2024-07-28|9999-12-31|       true|
|        20|       Mary|     Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|           18|    2024-07-28|9999-12-31|       true|
|        22|     Joseph|     Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|           20|    2024-07-28|9999-12-31|       true|
|        23|   Benjamin|    Duarte|XXXXXXXXX|XXXXXXXXX|8811 High Horse I...|     San Juan|   PR|    921|           21|    2024-07-28|9999-12-31|       true|
|        24|       Mary|     Smith|XXXXXXXXX|XXXXXXXXX| 9417 Emerald Towers|       Caguas|   PR|    725|           22|    2024-07-28|9999-12-31|       true|
|        25|       Paul|Richardson|XXXXXXXXX|XXXXXXXXX|318 Merry Creek M...|       Peoria|   AZ|  85345|           23|    2024-07-28|9999-12-31|       true|
|        26|     Johnny|      Hood|XXXXXXXXX|XXXXXXXXX|9576 Middle Hills...|     Glenview|   IL|  60025|           24|    2024-07-28|9999-12-31|       true|
|        27|       Mary|   Vincent|XXXXXXXXX|XXXXXXXXX|1768 Sleepy Zephy...|       Caguas|   PR|    725|           25|    2024-07-28|9999-12-31|       true|
+----------+-----------+----------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
only showing top 20 rows

In [79]:
insert_records = column_renamer(merged_df.filter(col("action") == 'INSERT'), suffix="_source", append=False) \
                .select(customers_source_df.columns)\
                .withColumn("row_number",row_number().over(window_def))\
                .withColumn("customer_skey",col("row_number") + max_sk)\
                .withColumn("effective_date",date_format(current_date(),DATE_FORMAT))\
                .withColumn("end_date",date_format(lit(future_date),DATE_FORMAT))\
                .withColumn("active_flag", lit(True))\
                .drop("row_number")

insert_records.show()

+----------+---------+--------+---------+---------+---------------+----------+-----+-------+-------------+--------------+----------+-----------+
|customerid|firstname|lastname|    email|    phone|        address|      city|state|zipcode|customer_skey|effective_date|  end_date|active_flag|
+----------+---------+--------+---------+---------+---------------+----------+-----+-------+-------------+--------------+----------+-----------+
|     12436|    Grace|  Parker|XXXXXXXXX|XXXXXXXXX|890 Pine Avenue|Townsville|   TX|  54321|        12434|    2024-07-28|9999-12-31|       true|
|     12437|   Connor|   Evans|XXXXXXXXX|XXXXXXXXX| 567 Oak Street|  Cityview|   CA|  98765|        12435|    2024-07-28|9999-12-31|       true|
+----------+---------+--------+---------+---------+---------------+----------+-----+-------+-------------+--------------+----------+-----------+

In [80]:
max_sk = insert_records.agg({"customer_skey": "max"}).collect()[0][0]

In [81]:
print(max_sk)

12435

In [82]:
update_records = column_renamer(merged_df.filter(col("action") == 'UPDATE'), suffix="_target", append=False)\
                .select(active_customers_target_df.columns)\
                .withColumn("end_date", date_format(current_date(),DATE_FORMAT))\
                .withColumn("active_flag", lit(False))\
            .unionByName(
            column_renamer(merged_df.filter(col("action") == 'UPDATE'), suffix="_source", append=False)\
                .select(customers_source_df.columns)\
                .withColumn("effective_date",date_format(current_date(),DATE_FORMAT))\
                .withColumn("end_date",date_format(lit(future_date),DATE_FORMAT))\
                .withColumn("row_number",row_number().over(window_def))\
                .withColumn("customer_skey",col("row_number")+ max_sk)\
                .withColumn("active_flag", lit(True))\
                .drop("row_number")
                )

In [83]:
update_records.show()

+----------+---------+----------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|customerid|firstname|  lastname|    email|    phone|             address|         city|state|zipcode|customer_skey|effective_date|  end_date|active_flag|
+----------+---------+----------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|         1|  Richard| Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|            1|    2024-07-28|2024-07-28|      false|
|         2|     Mary|   Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|            2|    2024-07-28|2024-07-28|      false|
|         3|      Ann|     Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|    725|            3|    2024-07-28|2024-07-28|      false|
|         5|   Robert|    Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|            5|    2024-07-28|2024-07-28|      false|
|        21|  William| Zimmerman|XXXXXXXXX|XXXXXXXXX|3323 Old Willow Mall|       Caguas|   PR|    725|           19|    2024-07-28|2024-07-28|      false|
|       109|     Mary|  Thompson|XXXXXXXXX|XXXXXXXXX|8662 Clear Nectar...|       Caguas|   PR|    725|          107|    2024-07-28|2024-07-28|      false|
|       323|   Joshua|     Smith|XXXXXXXXX|XXXXXXXXX|     3758 Sunny Mall|     New York|   NY|  10025|          321|    2024-07-28|2024-07-28|      false|
|       470|     Mary|    Cannon|XXXXXXXXX|XXXXXXXXX|    9916 Silent Mall| Far Rockaway|   NY|  11691|          468|    2024-07-28|2024-07-28|      false|
|       484|  Shirley|Richardson|XXXXXXXXX|XXXXXXXXX|19 Gentle Shadow ...|  Hyattsville|   MD|  20783|          482|    2024-07-28|2024-07-28|      false|
|       637|     Mary|     Smith|XXXXXXXXX|XXXXXXXXX|9879 Lazy Horse Mall|       Caguas|   PR|    725|          635|    2024-07-28|2024-07-28|      false|
|       704|     Mary|Mccullough|XXXXXXXXX|XXXXXXXXX|     9972 Rocky Mall|       Caguas|   PR|    725|          702|    2024-07-28|2024-07-28|      false|
|       738|     Mary|      Wood|XXXXXXXXX|XXXXXXXXX|      3587 Blue Mall|       Caguas|   PR|    725|          736|    2024-07-28|2024-07-28|      false|
|      1215|      Joe|      Hart|XXXXXXXXX|XXXXXXXXX| 7868 Iron Fawn Mall|    Las Vegas|   NV|  89123|         1213|    2024-07-28|2024-07-28|      false|
|      1437|     Mary|    Watson|XXXXXXXXX|XXXXXXXXX|  4389 Colonial Mall|       Caguas|   PR|    725|         1435|    2024-07-28|2024-07-28|      false|
|      1467|     Mary|   Bradley|XXXXXXXXX|XXXXXXXXX|     3567 Broad Mall|      Phoenix|   AZ|  85035|         1465|    2024-07-28|2024-07-28|      false|
|      1537|    Linda|    Murray|XXXXXXXXX|XXXXXXXXX|4951 Misty Pionee...|Pompano Beach|   FL|  33064|         1535|    2024-07-28|2024-07-28|      false|
|      1577|     Mary|     Smith|XXXXXXXXX|XXXXXXXXX|    5274 Hidden Mall|       Caguas|   PR|    725|         1575|    2024-07-28|2024-07-28|      false|
|      1627|     Mary|  Gonzales|XXXXXXXXX|XXXXXXXXX|7320 Wishing Rise...|       Caguas|   PR|    725|         1625|    2024-07-28|2024-07-28|      false|
|      1711|    Jason|     Smith|XXXXXXXXX|XXXXXXXXX|690 Pleasant Autu...|        Salem|   OR|  97301|         1709|    2024-07-28|2024-07-28|      false|
|      2164|    Ethan|     Smith|XXXXXXXXX|XXXXXXXXX|     9972 Rocky Mall|       Caguas|   PR|    725|         2162|    2024-07-28|2024-07-28|      false|
+----------+---------+----------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
only showing top 20 rows

In [84]:
max_sk = update_records.agg({"customer_skey": "max"}).collect()[0][0]

In [85]:
print(max_sk)

12535

In [86]:
delete_records = column_renamer(merged_df.filter(col("action") == 'DELETE'), suffix="_target", append=False)\
                .select(active_customers_target_df.columns)\
                .withColumn("end_date", date_format(current_date(),DATE_FORMAT))\
                .withColumn("active_flag", lit(False))

delete_records.show()

+----------+---------+--------+---------+---------+----------------+-----------+-----+-------+-------------+--------------+----------+-----------+
|customerid|firstname|lastname|    email|    phone|         address|       city|state|zipcode|customer_skey|effective_date|  end_date|active_flag|
+----------+---------+--------+---------+---------+----------------+-----------+-----+-------+-------------+--------------+----------+-----------+
|     12435|    Laura|  Horton|XXXXXXXXX|XXXXXXXXX|5736 Honey Downs|Summerville|   SC|  29483|        12433|    2024-07-28|2024-07-28|      false|
+----------+---------+--------+---------+---------+----------------+-----------+-----+-------+-------------+--------------+----------+-----------+

In [87]:
resultant_df = inactive_customers_target_df \
            .unionByName(unchanged_records)\
            .unionByName(insert_records)\
            .unionByName(update_records)\
            .unionByName(delete_records)

resultant_df.show()

+----------+-----------+----------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|customerid|  firstname|  lastname|    email|    phone|             address|         city|state|zipcode|customer_skey|effective_date|  end_date|active_flag|
+----------+-----------+----------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
|         4|       Mary|     Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|            4|    2024-07-28|9999-12-31|       true|
|         6|       Mary|     Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|            6|    2024-07-28|9999-12-31|       true|
|         7|    Melissa|    Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|            7|    2024-07-28|9999-12-31|       true|
|        10|    Melissa|     Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|            8|    2024-07-28|9999-12-31|       true|
|        11|       Mary|   Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|            9|    2024-07-28|9999-12-31|       true|
|        12|Christopher|     Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|           10|    2024-07-28|9999-12-31|       true|
|        13|       Mary|   Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|           11|    2024-07-28|9999-12-31|       true|
|        14|  Katherine|     Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|           12|    2024-07-28|9999-12-31|       true|
|        15|       Jane|      Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|           13|    2024-07-28|9999-12-31|       true|
|        16|    Tiffany|     Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|           14|    2024-07-28|9999-12-31|       true|
|        17|       Mary|  Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|           15|    2024-07-28|9999-12-31|       true|
|        18|     Robert|     Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|           16|    2024-07-28|9999-12-31|       true|
|        19|  Stephanie|  Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|           17|    2024-07-28|9999-12-31|       true|
|        20|       Mary|     Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|           18|    2024-07-28|9999-12-31|       true|
|        22|     Joseph|     Smith|XXXXXXXXX|XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|   NJ|   7047|           20|    2024-07-28|9999-12-31|       true|
|        23|   Benjamin|    Duarte|XXXXXXXXX|XXXXXXXXX|8811 High Horse I...|     San Juan|   PR|    921|           21|    2024-07-28|9999-12-31|       true|
|        24|       Mary|     Smith|XXXXXXXXX|XXXXXXXXX| 9417 Emerald Towers|       Caguas|   PR|    725|           22|    2024-07-28|9999-12-31|       true|
|        25|       Paul|Richardson|XXXXXXXXX|XXXXXXXXX|318 Merry Creek M...|       Peoria|   AZ|  85345|           23|    2024-07-28|9999-12-31|       true|
|        26|     Johnny|      Hood|XXXXXXXXX|XXXXXXXXX|9576 Middle Hills...|     Glenview|   IL|  60025|           24|    2024-07-28|9999-12-31|       true|
|        27|       Mary|   Vincent|XXXXXXXXX|XXXXXXXXX|1768 Sleepy Zephy...|       Caguas|   PR|    725|           25|    2024-07-28|9999-12-31|       true|
+----------+-----------+----------+---------+---------+--------------------+-------------+-----+-------+-------------+--------------+----------+-----------+
only showing top 20 rows

In [88]:
spark.stop()